@import url('https://fonts.googleapis.com/css?family=Julius+Sans+One');

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Julius Sans One', sans-serif;
}

.topicsDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 25px;
}

.buttons {
  margin-top: 3vh;
  margin-bottom: 3vh;
}

.user_list {
  display: flex;
  flex-direction: column;
  margin: 2vh 10vw;
}
.user_detail {
  display: flex;
  flex-direction: row;
  margin-top: 25px;
  padding-bottom: 15px;
  align-items: center;
  flex-wrap: wrap;
}

@media only screen and (max-width: 768px) {
  .user_detail {
    flex-direction: column;
    justify-content: center;
  }
  .user_detail ul {
    margin: 20px 0;
  }
  button {
    width: 100% !important;
  }
}

button {
  height: 50px;
  width: 180px;
  padding-left: 19px;
  padding-right: 19px;
  font-size: 1.25rem;
  border: 0;
  background: whitesmoke;
  transition: 0.5s;
  font-family: 'Julius Sans One', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

button:hover {
  border: 0;
  cursor: pointer;
}

.user_detail h2 {
  justify-content: flex-start;
  display: flex;
}

.user_detail ul {
  justify-content: center;
  flex-direction: row-reverse;
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  overflow-x: auto;
}

.user_detail ul li {
  list-style-type: none;
  display: inline-flex;
  margin-right: 25px;
  transition: 0.25s;
  word-break: break-all;
}

.commonTopic {
  color: crimson;
  text-decoration: underline;
  align-items: flex-end;
}

.title {
  margin-top: 6vh;
  font-size: 200%;
  text-align: center;
}

.common {
  background-color: mediumspringgreen;
}

.choice {
  display: flex;
  justify-content: space-around;
  margin-top: 15vh;
}

a {
  text-decoration: none;
  color: inherit;
}

input {
  height: 50px;
  width: 200px;
  display: flex;
  justify-content: center;
}

input::placeholder {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.center {
  margin-top: 7vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

button {
  /*   display: inline-block;
  vertical-align: middle; */
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
button:before {
  content: '';
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(144, 245, 161, 0.157);
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
button:hover:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

button:focus {
  outline: none;
}

.chatDiv {
  overflow-y: auto;
  height: 60vh;
  margin-bottom: 30px;
}

::-webkit-scrollbar-track {
  background: white;
}

::-webkit-scrollbar-thumb {
  background: lightgray;
}

::-webkit-scrollbar {
  width: 5px;
}

.chatDiv {
  padding-right: 30px;
  margin-top: 50px;
  width: 50vw;
  font-size: 1.5rem;
}

.chatForm,
.chatForm input {
  width: 100%;
}

.chatForm {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

.chatForm button {
  justify-content: center;
  margin-top: 20px;
}

.chatForm input {
  font-size: 1.5rem;
  background: rgba(0, 0, 0, 0.025);
}

time {
  font-size: 1.1rem;
}

.chatForm input:focus {
  background-color: lightgoldenrodyellow;
}

input {
  text-align: center;
}

.chatTitle {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  align-items: center;
  width: 100%;
}

.chatTitle h1 {
  padding-left: 10px;
  line-height: 1.7em;
  margin: 0;
}

.chatTitle svg {
  height: 1.7em;
}

.mailbox_btn {
  display: flex;
  flex-direction: column;
  align-items: center;
}
